<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link href="ui-slider.css" media="all" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div id="info"></div>
        <span class="ui slider"></span>
        <script src="UISlider.js"></script>
        <script>
        
            var sliders = document.getElementsByClassName('slider');
            var i = sliders.length;
            while (i--) {
                
                new UISlider(sliders[i], 5, 20, 0, 1, true, function(value){document.getElementById('info').innerHTML = value}, false);
            }
        </script>
    </body>
</html>